body {
    padding-top: 50px;
    background-color: #444444;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.book-description{
    font-family: 'Cardo', serif;
    font-size: 1.8em;
    color: white;
}


.booktitle{
    margin:0px;
    background-color:#c9ab1e;
    color: black;
}


.buybutton{
    color: white;
    padding-top: 10px;
    background-color: transparent;
    border-color:#c9ab1e;
}
.buybutton:hover{
    color: white;
    background-color:#c9ab1e;
    border-color:#c9ab1e;;
}

.buybutton:active{
    color: white;
    background-color:#c9ab1e;
    border-color:#c9ab1e;;
}

.idtext{
    font-size:1.3em;
    font-weight:bold;
    color: #666;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
}

.title1{
    font-weight: bolder;
    font-size: 4.0em;}

.title2{
    font-size:1.5em;
}

.title3{
    font-style: italic;
    font-size:3.5em;
}
